.display {
  height: 36px;
  color: var(--text-color);
  text-align: right;
  padding: 26px 24px 26px 0px;
  background-color: var(--display-bg);
  border-radius: 10px;
  overflow-x: auto;
  overflow-y: hidden;
  -webkit-overflow-scrolling: touch;
  white-space: nowrap;
  direction: rtl;
}

.text--result {
  direction: ltr;
  position: relative;
  top: 16px;
  font-size: 32px;
  line-height: 36px;
  letter-spacing: -0.533333px;
  top: -3px;
}

.text--calculation {
  direction: ltr;
  inline-size: min-content;
  opacity: 0.6;
  display: block;
  position: relative;
  font-size: 14px;
  top: -14px;
}

@media screen and (min-width: 600px) {
  .display {
    height: 54px;
    padding: 38px 32px 36px 0px;
  }

  .text--result {
    font-size: 48px;
    line-height: 54px;
    letter-spacing: -0.8px;
  }

  .text--calculation {
    letter-spacing: 1px;
    top: -17px;
    font-size: 16px;
  }
}

@media screen and (max-width: 374px) {
  .display {
    border-radius: 0px;
  }
}

@media screen and (max-width: 240px) {
  .display {
    padding-right: 3px;
  }
}
