.keyboard {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 13px;
  padding: 24px;
  border-radius: 10px;
  background-color: var(--toggle-and-key-bg);
  margin-top: 24px;
}

.keyboard button:nth-child(4) {
  background-color: var(--secondary-key-bg);
  box-shadow: inset 0px -4px 0px var(--secondary-key-shadow);
  font-size: 16px;
  line-height: 18px;
  letter-spacing: -0.266667px;
  color: var(--secondary-text-color);
}

.keyboard button:nth-child(4):hover {
  background-color: var(--secondary-key-hover);
  box-shadow: inset 0px -4px 0px var(--secondary-key-shadow-hover);
}

.keyboard button:nth-child(4):active {
  background-color: var(--secondary-key-hover);
  box-shadow: inset 0px 0px 0px var(--secondary-key-shadow-hover);
}

.keyboard button:nth-last-child(2) {
  grid-column: 1 / 3;
  width: 100%;
  font-size: 16px;
  line-height: 18px;
  letter-spacing: -0.266667px;
  background-color: var(--secondary-key-bg);
  box-shadow: inset 0px -4px 0px var(--secondary-key-shadow);
  color: var(--secondary-text-color);
}

.keyboard button:nth-last-child(2):hover {
  background-color: var(--secondary-key-hover);
  box-shadow: inset 0px -4px 0px var(--secondary-key-shadow-hover);
}

.keyboard button:nth-last-child(2):active {
  box-shadow: inset 0px 0px 0px var(--secondary-key-shadow);
}

.keyboard button:nth-last-child(1) {
  grid-column: 3 / 5;
  width: 100%;
  font-size: 16px;
  line-height: 18px;
  letter-spacing: -0.266667px;
  background-color: var(--equal-key-and-toggle-bg);
  box-shadow: inset 0px -4px 0px var(--equal-key-shadow);
  color: var(--equal-sign-text-color);
}

.keyboard button:nth-last-child(1):hover {
  background-color: var(--equal-key-and-toggle-hover);
  box-shadow: inset 0px -4px 0px var(--equal-key-shadow-hover);
}

.keyboard button:nth-last-child(1):active {
  box-shadow: inset 0px 0px 0px var(--equal-key-shadow-hover);
}

.keyboard button {
  font-size: 28px;
  line-height: 31px;
  letter-spacing: -0.466667px;
  color: var(--general-button-text-color);
  font-weight: bold;
  padding: 10px 10px 14px 10px;
  box-shadow: inset 0px -4px 0px var(--primary-key-shadow);
  border: 0px;
  background-color: var(--primary-key-bg);
  border-radius: 5px;
  cursor: pointer;
  font-family: "Spartan", sans-serif;
  width: 100%;
  height: 64px;
  outline: none;
  transition: all 0.06s ease;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.keyboard button:hover {
  background-color: var(--primary-key-hover);
  box-shadow: inset 0px -4px 0px var(--primary-key-shadow-hover);
}

.keyboard button:active {
  transform: translate(0px, 4px);
  box-shadow: inset 0px 0px 0px var(--primary-key-shadow);
  height: 60px;
  padding: 12px 10px 12px 10px;
}

.active {
  transform: translate(0px, 4px) !important;
  box-shadow: inset 0px 0px 0px var(--primary-key-shadow) !important;
  height: 60px !important;
  padding: 12px 10px 12px 10px !important;
}

@media screen and (min-width: 600px) {
  .keyboard {
    padding: 32px 30px;
    gap: 24px;
  }

  .keyboard button {
    width: 100%;
  }
}

@media screen and (max-width: 319px) {
  .keyboard button {
    font-size: 20px;
    width: 100%;
    height: 54px;
  }

  .keyboard button:active {
    height: 50px !important;
  }

  .active {
    height: 50px !important;
  }
}

@media screen and (max-width: 374px) {
  .keyboard {
    border-radius: 0px;
  }
}

@media screen and (max-width: 240px) {
  .keyboard {
    padding-right: 5px;
    padding-left: 5px;
  }
}
