.keyboard {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 13px;
  padding: 24px;
  border-radius: 10px;
  background-color: var(--toggle-and-key-bg);
  margin-top: 24px;
}

.keyboard button:nth-child(4) {
  background-color: var(--secondary-key-bg);
  box-shadow: inset 0px -4px 0px var(--secondary-key-shadow);
  font-size: 16px;
  line-height: 18px;
  letter-spacing: -0.266667px;
  color: var(--secondary-text-color);
}

.keyboard button:nth-last-child(2) {
  grid-column: 1 / 3;
  width: 100%;
  font-size: 16px;
  line-height: 18px;
  letter-spacing: -0.266667px;
  background-color: var(--secondary-key-bg);
  box-shadow: inset 0px -4px 0px var(--secondary-key-shadow);
  color: var(--secondary-text-color);
}

.keyboard button:nth-last-child(1) {
  grid-column: 3 / 5;
  width: 100%;
  font-size: 16px;
  line-height: 18px;
  letter-spacing: -0.266667px;
  background-color: var(--equal-key-and-toggle-bg);
  box-shadow: inset 0px -4px 0px var(--equal-key-shadow);
  color: var(--equal-sign-text-color);
}

.keyboard button {
  font-size: 28px;
  line-height: 31px;
  letter-spacing: -0.466667px;
  color: var(--general-button-text-color);
  font-weight: bold;
  padding: 10px 10px 14px 10px;
  box-shadow: inset 0px -4px 0px var(--primary-key-shadow);
  border: 0px;
  background-color: var(--primary-key-bg);
  border-radius: 5px;
  cursor: pointer;
  font-family: "Spartan", sans-serif;
  width: 60px;
  height: 64px;
  outline: none;
}

.keyboard button:active {
  transform: scale(0.95);
}

.active {
  transform: scale(0.95);
}

@media screen and (min-width: 600px) {
  .keyboard {
    padding: 32px 30px;
  }
}
