.footer {
  font-size: 14px;
  text-align: center;
  margin-bottom: 20px;
  color: var(--text-color);
}

.footer a {
  color: var(--equal-key-and-toggle-bg);
}

.footer a:hover {
  color: var(--equal-key-and-toggle-hover);
}
